rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAuthorizedEditor() {
      return isAuthenticated() && (
        request.auth.token.email.lower() in [
          'sergio@engearpb.com.br',
          'pastaengear@gmail.com',
          'rodrigobarros@engearpb.com.br',
          'carlosroberto@engearpb.com.br',
          'gitana@engearpb.com.br',
          'vendas@engearpb.com.br',
          'engenharia01@engearpb.com.br'
        ]
      );
    }

    match /sales/{saleId}/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthorizedEditor();
    }

    match /proposals/{quoteId}/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthorizedEditor();
    }
  }
}
